<div class="pageContent">
	
	<form method="post" action="/EmployeeSystem/password_reset_do" class="pageForm required-validate" onsubmit="return validateCallback(this,dialogAjaxDone)">
		<div class="pageFormContent nowrap" layoutH="97">

			<dl>
				<dt>新设密码：</dt>
				<dd>
					<input id="w_validation_pwd_n" type="password" name="password_n" class="required" minlength="6" maxlength="20" alt="字母、数字、下划线 6-20位"/>
					<span class="info">输入6-20位字符</span>
				</dd>
			</dl>
			<dl>
				<dt>确认密码：</dt>
				<dd>
					<input type="password" name="password_repeat" class="required" minlength="6" maxlength="20" alt="字母、数字、下划线 6-20位" equalto="#w_validation_pwd_n"/>
					<span class="info">输入6-20位字符</span>
				</dd>
			</dl>
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent">
				<input type="hidden" name="id" value="{$result.id}"/><button type="submit">提交</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
	
</div>

<script type="text/javascript">
function customvalidXxx(element){
	if ($(element).val() == "xxx") return false;
	return true;
}
</script>
