<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content=cetial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>后台</title>
    <!--[if lt IE 8]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
    <link href="/Css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="/Css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="/Css/animate.min.css" rel="stylesheet">
    <link href="/Css/style.min.css?v=4.0.0" rel="stylesheet">
    <link href="/Css/paging.css" rel="stylesheet">

</head>
<body>
<div class="wrapper wrapper-content animated fadeInRight">
    <!-- Panel Other -->
    <div class="ibox float-e-margins">
        
        <div class="ibox-content">
            <div class="row row-lg">
                <div class="col-sm-12">
                    <!-- Example Toolbar -->
                    <div class="example-wrap">
                        <div class="example">
                            <div class="btn-group" role="group">
                                <a href="/Department/lists" class="btn btn-outline btn-default">
                                    <!-- <i class="glyphicon glyphicon-plus" aria-hidden="true"></i> --> 返回
                                </a>
                            </div>
                            <h1>子科室管理</h1>
                            <table data-toggle="table" class="table table-hover"  data-mobile-responsive="true">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th align="center">pid</th>
                                        <th align="center">科室名称</th>
                                        <th align="center">创建时间</th>
                                    </tr>
                                </thead>
                                <tbody>
                                   <volist name="results" id="vo">
                                    <tr target="sid_user" rel="{$vo['id']}">
                                         <td class="id">{$vo['id']}</td>
                                        <td>{$vo['pid']}</td>
                                        <td>{$vo['name']}</td>
                                        <td>{$vo["create_time"]|date="Y-m-d H:i:s",###}</td>
                                        <td>
                                            &nbsp;&nbsp;&nbsp;
                                            <a href="/Department/raedit2?id={$vo['id']}&pid={$vo['pid']}">编辑</a>
                                            <a title="删除" class="btnDel">删除</a>&nbsp;&nbsp;&nbsp;
                                        </td>
                                    </tr>
                                    </volist>
                                </tbody>
                            </table>
                           <div class="paggings">
                           {$paging}
                        </div>
                    </div>
                </div>    
                    <!-- End Example Toolbar -->
                </div>
            </div>
        </div>
        
    </div>
    
</div> 
<div class="modal fade" id="ajax_container" tabindex="-1" role="dialog" aria-labelledby="ajax_container" aria-hidden="true"> 
</div>
<script src="/Js/jquery.min.js?v=2.1.4"></script>
<script src="/Js/bootstrap.min.js"></script>

<script type="text/javascript">
    $(document).on('click','.btnDel',function(){
        if(confirm("确定要删除吗？")){
            var id=$(this).parent().siblings('.id').text();
            $.ajax({
                url:'/Department/dele_do', 
                data:{
                    "id":id,
                },
                type:'get',
                dataType:"json",
                success:function(data){
                    alert(data);
                    if(data.status){
                        alert('删除成功');
                        window.location="/Department/lists";
                    }else{
                        alert(data.message)
                    }
                },
            });
        }
    })
    
</script>
</body>