.paggings .current{
    display: inline-block;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    cursor: pointer;

}
.paggings .num{
    display: inline-block;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    border: 1px solid #ccc;
    background: #fff;
    margin-left: 5px;
    cursor: pointer;
}
.paggings .next,.paggings .prev{
    display: inline-block;
    width: 80px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    border: 1px solid #ccc;
    background: #fff;
    margin-left: 5px;
    cursor: pointer;
}