<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <title>后台</title>
    <link href="/Css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="/Css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="/Css/animate.min.css" rel="stylesheet">
    <link href="/Css/style.min.css?v=4.0.0" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/Css/webuploader.css">
    <link rel="stylesheet" type="text/css" href="/Css/diyUpload.css">
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="form-horizontal m-t" id="commentForm">
                        <h2><div  class="col-sm-2"></div>添加医生</h2>
                        
                        

                        <div class="form-group">
                            <label class="col-sm-2 control-label">姓名：</label>
                            <div class="col-sm-8">
                                <input type="text" size="30" name="class1" size="80" minlength="6" maxlength="60" class="form-control"  id="realname" value="<?php echo $result['realname'];?>"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">性别：</label>
                            <div class="col-sm-8">
                                <select class="form-control sex" >
                                    <option value ="0">请选择</option>
                                    <option class="op" value ="1">男</option>
                                    <option class="op" value ="2">女</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">所在医院：</label>
                            <div class="col-sm-8">
                                <input  type="text" size="30" name="class1" size="80" minlength="6" maxlength="60" class="form-control"  id="hospital" value="<?php echo $result['hospital'];?>"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">医生职称：</label>
                            <div class="col-sm-8">
                                <input  type="text" size="30" name="class1" size="80" minlength="6" maxlength="60" class="form-control"  id="grade" value="<?php echo $result['grade'];?>"/>
                            </div>
                        </div>

                        <div class="form-group rem" attr_value='1' >
                            <label class="col-sm-2 control-label">科室：</label>
                            <div class="col-sm-8">
                                    <select class="form-control category categoryid" >
                                        <option value ="0">请选择</option>
                                        <?php foreach ($keshi as $key => $value)
                                        {?>
                                        <option class="op" value ="<?php echo $value['id'];?>">
                                        <?php echo $value['name'];?>
                                        </option>
                                    <?php } ?>
                                    </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">医生简介：</label>
                            <div class="col-sm-8">
                                <textarea placeholder="<?php echo $result['introduce'];?>" rows="6" cols="30" type="text" size="30" name="class1"  size="80" minlength="6" maxlength="60" class="form-control"  id="introduce" value=""/></textarea>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-2 control-label">开始上班时间：</label>
                            <div class="col-sm-8">
                                <input  type="text" size="30" name="class1" size="80" minlength="6" maxlength="60" class="form-control"  id="work_time_start" value="<?php echo $result['work_time_start'];?>"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">开始上班时间：</label>
                            <div class="col-sm-8">
                                <input  type="text" size="30" name="work_time_end" size="80" minlength="6" maxlength="60" class="form-control"  id="work_time_end" value="<?php echo $result['work_time_end'];?>"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">医生评级：</label>
                            <div class="col-sm-8">
                                <input  type="text" size="30" name="evaluate" size="80" minlength="6" maxlength="60" class="form-control"  id="evaluate" value="<?php echo $result['evaluate'];?>"/>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-3">
                                <input type="hidden" id='id' value="<?php echo I('param.id');?>">
                                <button class="btn btn-primary" type="button" id="adds">提交</button>
                                <a href="/Drugs/lists"><button class="btn btn-white" type="button">取消</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // alert($ajaxReturnData['data'])
    
</script>
<script src="/Js/jquery.min.js?v=2.1.4"></script>
<script type="text/javascript" src="/Js/webuploader.html5only.min.js"></script>
<script type="text/javascript" src="/Js/diyUpload.js"></script>
<script type="text/javascript">
    $(document).on('change','.category',function(){
        var that=$(this)
        var attr_value=that.parent().parent('.form-group').attr('attr_value');
        console.log(attr_value);
        
        $(".rem").each(function(){
            attrvalue=$(this).attr("attr_value");
            if (attrvalue>attr_value) {
                $(this).remove();
            };
        });
        var category_id=$(this).val();
        // console.log(category_id);
        attr_value++;
        $.ajax({
            url:'/Department/get_do', 
            data:{
                "category_id":category_id
            },
            type:'post',
            dataType:"json",
            success:function(data){
                if(data.status){
                    if (data.results) {
                        // console.log(data);
                        var html_de='<div class="form-group rem" attr_value='+attr_value+'><label class="col-sm-2 control-label"></label><div class="col-sm-8"><select class="form-control category categorypid"><option value ="0">请选择</option>';
                        for (var i = 0; i < data.results.length; i++) {
                            html_de+='<option class="op" value ="'+data.results[i].id+'">'+data.results[i].name+'</option>'
                        }
                        html_de+='</select></div></div>';
                        that.parent().parent('.form-group').after(html_de);
                    }
                }else{
                    
                } 
            },
        });
    })

    $(document).on('click','#adds',function(){
        var realname=$('#realname').val();
        var sex=$('.sex option:selected').val();
        var hospital=$('#hospital').val();
        var grade=$('#grade').val();
        var department_id=$('.categorypid').val();
        var introduce=$('#introduce').val();
        var work_time_start=$('#work_time_start').val();
        var work_time_end=$('#work_time_end').val();
        var evaluate=$('#evaluate').val();
        $.ajax({
            url:'/Doctor/adds_do', 
            data:{
                "realname":realname,
                "sex":sex,
                "hospital":hospital,
                "grade":grade,
                "department_id":department_id,
                "introduce":introduce,
                "work_time_start":work_time_start,
                "work_time_end":work_time_end,
                "evaluate":evaluate
            },
            type:'post',
            dataType:"json",
            success:function(data){
                if(data.status){
                    alert('添加成功');
                    window.location="/Doctor/lists";
                }else{
                    alert(data.message)
                }
            }
        });
        
    })
</script>
</body>
</html>